.rounded {
    counter-reset: li; 
    list-style: none; 
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    margin: 0 auto;
    width: 60%;
    }
    .rounded-item{
        width: 600px;
        min-height: 20px;
    }
    .rounded-item-link{
        min-height: 30px;
        line-height: 30px;



    }
    .update-user{
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    .update-container{
        display: flex;
        justify-content: flex-end;
    }
    .delete-btn-container{
        display: flex;
        justify-content: flex-end;
    }

.shadow{
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.popup{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
     
    position: relative;
    transition: all 5s ease-in-out;
}
.shadow-content{
    width: 600px;
    height: 500px;
}
.content{
    background-color: #ffffff;
}


    .add-user{
        width: 600px;
        display: flex;
        flex-flow: column;
    }
    .add-user>label{
        margin-bottom: 0;
    }
    .add-user>input{
        font-size: 20px;
        margin: 10px 0;
    }
    .add-user>button{
        width: 200px;
        height: 30px;
    }
    .rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
    }
    .rounded a:hover {background: #E9E4E0;}
    .rounded a:hover:before {transform: rotate(360deg);}
    .rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
    }